---
const {title, href} = Astro.props
---

<li class="w-96 h-48 flex items-center px-8 font-extralight hover:font-bold transition-all bg-white/70 rounded-2xl text-4xl relative group">
    <a href={href}><span>{title}</span>
        <span class="absolute bottom-2 right-8 group-hover:translate-x-4 transition-all">&rarr;</span>
    </a>

</li>