---
---
<nav class="p-4 flex justify-between container group transition-all duration-200 ease-linear mx-auto hover:bg-white/70 rounded-full px-16">
    <a href="/" class="block">
        <img class="w-32 object-cover rounded-xl" src="/RiffsCodeCoffee.png" alt="RiffsCodeCoffee" />
    </a>
    <ul class="flex items-center space-x-4 text-xl font-light ">
        <li><a href="music">Music</a></li>
        <li><a href="/">Tech</a></li>
        <li><a href="/">Stuff</a></li>
    </ul>
    <ul class="flex items-center">
<li><button class="btn rounded-full bg-indigo-500 btn-lg hover:bg-white hover:text-black transition-all">Join the Community</button></li>    </ul>
</nav>
