---
---
<nav class="p-4 flex justify-between container group transition-all duration-200 ease-linear mx-auto hover:bg-white/70 my-2 rounded-full px-16">
    <a href="/" class="block">
        <img class="w-32 object-cover rounded-xl" src="/RiffsCodeCoffee.png" alt="RiffsCodeCoffee" />
    </a>
    <ul class="flex items-center space-x-4 text-2xl font-light ">
        <li><a href="music">Music</a></li>
        <li><a href="/">Tech</a></li>
        <li><a href="/">Stuff</a></li>
    </ul>
    <ul class="flex items-center">
        <li><button class="bg-white p-4 rounded-full transition-all ease-linear group-hover:bg-indigo-600 font-bold hover:opacity-50 group-hover:text-white">Join the Community</button></li>
    </ul>
</nav>