---
const { data } = Astro.props;
---
<li class="bg-white/20 p-4 rounded-2xl border-2 shadow-lg">
    <div class="flex items-center justify-between px-4">
        <div class="flex items-center space-x-2">
            <div class="w-16">
                <img src="https://avatar.iran.liara.run/public/boy?username=Ash" alt="Album Art" />
            </div>
            <p class="text-black">
                <span class="font-bold text-indigo-600">{data.Name}</span> - <span>{data.Artist.toUpperCase()}</span>
            </p>
        </div>
        <div class="flex space-x-4 items-center">
            {data.Spotify_URL != null && <a href={data.Spotify_URL} target="_blank" rel="noopener noreferrer" class="bg-gradient-to-br from-green-500 shadow-lg to-emerald-300 inset-3 p-2 px-8 rounded-full font-bold">Spotify</a>
            }
            {data.Apple_Music_URL != null &&  <a href={data.Apple_Music_URL} target="_blank" rel="noopener noreferrer" class="bg-red-400 px-8 p-2 rounded-full text-white font-bold">Apple Music</a>
            }
        </div>
    </div>
</li>