---
const { data } = Astro.props;
---

<li
	class="lg:p-4 p-2 py-8 shadow-lg border-b-2 group hover:border-b-0 hover:rounded-2xl duration-300 ease-linear rounded-none hover:bg-white transition-all"
>
	<div class="flex items-center justify-between lg:px-4">
		<div class="flex items-center space-x-2">
			<!--<div class="w-16">-->
			<!--    <img src="https://avatar.iran.liara.run/public/boy?username=Ash" alt="Album Art" />-->
			<!--</div>-->
			<div>
				<p class="font-bold text-indigo-600 text-sm lg:text-2xl">
					{data.title}
				</p>
				<p class="font-semibold text-sm lg:text-md group-hover:text-black">
					{data.artist.toUpperCase()}
				</p>
			</div>
		</div>
		<div class="flex space-x-4 items-center">
			{
				data.spotifyUrl != null && (
					<a
						href={data.spotifyUrl}
						target="_blank"
						rel="noopener noreferrer"
						class="btn btn-sm lg:btn-md bg-emerald-500 hover:bg-emerald-800 border-none rounded-full  font-bold">
						Spotify
					</a>
				)
			}
			{
				data.appleMusicUrl != null && (
					<a
						href={data.appleMusicUrl}
						target="_blank"
						rel="noopener noreferrer"
						class="btn bg-red-400 btn-sm lg:btn-md rounded-full border-none hover:bg-red-800">
						Apple Music
					</a>
				)
			}
		</div>
	</div>
</li>
