---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Card from '../components/Card.astro';
import RecentlyAddedCard from '../components/RecentlyAddedCard.astro';
import RecentBlogArticles from '../components/RecentBlogArticles.astro';
import SubscribeToNewsletter from '../components/SubscribeToNewsletter.astro';
import { fetchAllFromTable } from '@/lib/functions';

const allSongData = await fetchAllFromTable('songs');

const prevDate = new Date();
prevDate.setDate(prevDate.getDate() - 30);

const recentRiffs = allSongData
	?.filter((song) => {
		const songDate = new Date(song.sys.createdAt);

		return songDate >= prevDate;
	})
	.sort((a, b) => {
		return (
			new Date(b.sys.createdAt).getTime() - new Date(a.sys.createdAt).getTime()
		);
	});

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section class="h-[20rem] flex items-center justify-between px-8">
		<h1 class="text-7xl text-stone-200 font-semibold">
			Welcome to Riffs. Code. Community.
		</h1>
		<div>
			<p class="text-stone-200 font-light max-w-lg">
				Riffs Code Community is the official community for the Riffs. Code.
				Coffee. Newsletter. Here, you'll find all of the latest news and updates
				from the newsletter, as well as music recommendations, tech recs and
				tips, and more.
			</p>
			<a class="btn mt-4 btn-success">Join the Riffs. Code. Community.</a>
		</div>
	</section>
	<section class="my-16 p-16 py-10 rounded-2xl text-black container mx-auto">
		<h2 class="text-5xl font-extralight text-stone-200 border-b-2 w-1/2">
			Recent Riffs.
		</h2>
		<ul class="grid grid-cols-4 gap-4 mt-4">
			{
				recentRiffs?.map((song) => {
					return (
						<li class="bg-gradient-to-t from-black to-stone-200/50 col-span-1 h-[20rem] flex flex-col group hover:bg-black/40 hover:justify-center justify-end p-4 transition-all ease-in duration-200 text-white rounded-2xl">
							<a href={song.fields.appleMusicUrl} target="_blank">
								<h3 class="text-2xl font-semibold">{song.fields.title}</h3>
								<p class="text-sm">{song.fields.artist}</p>
								<p class="text-sm font-semibold text-red-300 invisible group-hover:visible">
									Listen on Apple Music
								</p>
							</a>
						</li>
					);
				})
			}
			<li
				class="text-white/50 text-center flex flex-col justify-center text-2xl hover:text-white transition-all ease-in duration-200"
			>
				<a href="/music">More Music...</a>
			</li>
		</ul>
	</section>
	<section class="my-16 p-16 py-10 rounded-2xl text-black container mx-auto">
		<h2 class="text-5xl font-extralight text-stone-200 border-b-2 w-1/2">
			Tech Recs.
		</h2>
	</section>

	<section class="my-16 p-16 py-10 rounded-2xl text-black">
		<h2 class="text-5xl font-extralight text-stone-200 border-b-2 w-1/2">
			Latest Reads.
		</h2>
		<RecentBlogArticles />
	</section>
	<section class="my-16 p-16 py-10 rounded-2xl text-black">
		<h2 class="text-5xl font-extralight text-stone-200 border-b-2 w-1/2">
			Stats.
		</h2>
		<div>
			<div
				class="text-xl text-center font-semibold text-stone-200 flex flex-col gap-2"
			>
				<span>{allSongData?.length}</span>
				<span class="block text-2xl">Riffs</span>
			</div>
		</div>
	</section>
</Layout>
