---
import Hero from '../components/Hero.astro';
import SubscribeToNewsletter from '../components/SubscribeToNewsletter.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="p-16 py-10 rounded-2xl text-stone-200">
		<h1 class="text-8xl text-center font-bold">
			Join the Riffs. Code. Community. Today!
		</h1>
		<p class="text-center mb-8 text-stone-200 text-2xl max-w-lg mt-4 mx-auto">
			Riffs. Code. Coffee. is a weekly tech newsletter helping creators and
			musicians grow their brands with modern technology.
		</p>
		<SubscribeToNewsletter />
	</div>
</Layout>
