---
import Hero from '../components/Hero.astro';
import SubscribeToNewsletter from '../components/SubscribeToNewsletter.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Hero title="Join the Community" navTitle="" />
	<div class="bg-white/20 p-16 py-10 rounded-2xl">
		<h1 class="text-2xl text-center font-bold">
			Join the Riffs. Code. Community. Today!
		</h1>
		<p class="text-center mb-8">
			Riffs. Code. Coffee. is a weekly tech newsletter helping creators and
			musicians grow their brands with modern technology.
		</p>
		<SubscribeToNewsletter />
	</div>
</Layout>
